body {
    background-color: #1f1f1f;
    color: #efefef;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00ffff;
}

header > h2 {
    margin: 8px;
}

header > nav {
    background-color: #3f3f3f;
    margin: 8px 0 0;
}

header > nav > ul {
    margin: 0;
    padding: 4px;
    display: flex;
}

header > nav > ul > li {
    display: block;
    margin: 0 8px;
}

main {
    margin: 0;
    padding: 0 16px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #3f3f3f;
    margin: 0;
    padding: 0;
}

footer > ul {
    margin: 0;
    padding: 4px;
    display: flex;
    justify-content: center;
}

footer > ul > li {
    display: block;
    margin: 0 8px;
}
